[Unit]
Description=Example .NET Web Portal

[Service]
WorkingDirectory={{ dotnet_web_directory }}publish/
ExecStart=/usr/bin/dotnet {{ dotnet_web_directory }}publish/{{ dotnet_web_dll }}
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=web-portal-dotnet
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target