server {
    listen 80;
    root {{ dotnet_web_directory }}publish;

    location ~ /(api|swagger)/    {
        proxy_pass http://localhost:5000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection keep-alive;
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location / {
        root {{ dotnet_web_directory }}publish/wwwroot/;
        try_files $uri $uri/ /index.html =404;
    }
}
